<div class="comment_frame">
  <h3>Comments <small id='commentable_<%= commentable.id %>_comments_size'><%= commentable.comments.size %></small></h3>
  <ul id="commentable_<%= commentable.id %>_comments" class="comments">
    <% if commentable.comments.any? %>
      <%= render commentable.comments %>
    <% else %>
      <li>댓글이 없음.</li>
    <% end %>
  </ul>
  <div id="commentable_<%= commentable.id %>_comment_form" class="comment_form">
    <%= render "comments/form", comment: commentable.comments.build %>
  </div>
</div>
