<% if @comment.errors.size.zero? %>
  <% if @commentable.comments.size > 1 %>
    $("#commentable_<%= @commentable.id %>_comments").append("<%=j render(@comment) %>");
  <% else %>
    $("#commentable_<%= @commentable.id %>_comments").html("<%=j render(@comment) %>");
  <% end %>
  $("#comment_<%= @comment.id %>").hide().slideDown().effect( "highlight", {color:"#87dbff"}, 3000 );
  $("#commentable_<%= @commentable.id %>_comments_size").text("<%= @commentable.comments.size %>").effect("highlight", {color: 'red'}, 3000);
  $("#counter_new").text('255자까지 입력할 수 있음.');
  $("#commentable_<%= @commentable.id %>_comment_form form")[0].reset();
<% else %>
  console.log("validation errors : <%= @comment.errors.size %>")
  $("#commentable_<%= @commentable.id %>_comment_form").prepend("<div id='comment_flash_message' class='alert alert-danger'><%= @comment.errors.values.join(', ') %></div>");
  $("#comment_flash_message").delay(800).slideUp('slow');
<% end %>
